if config.search
    div#search-popup.hidden
        div#search-panel
            input(type="text", id="local-search-input", placeholder=__('nav.search_placeholder'))
            div#local-search-result